
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <a class="navbar-brand" href="#">Title</a>
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Link</a>
    </li>
  </ul>
</nav>

<div class="container">
<div class="panel panel-default">
<div class="panel-heading">
 <ng-content select=".titulo"></ng-content>
</div>
    <div class="panel-body">
       <ng-content select=".body"></ng-content>
    </div>
</div>
</div>
