<h5>
  *ngif
</h5>

<div *ngIf="cursos.length > 0">
  Lista de cursos.
</div>

<div *ngIf="cursos.length == 0">
  Lista de cursos.
</div>

<div *ngIf="mostrarCursos">
  Mostrar Lista de cursos.
</div>

<div *ngIf="!mostrarCursos">
  Esconder Lista de cursos.
</div>

<br>
<button type="button" class="btn btn-primary" (click)="onMostrarCursos()">button</button>


<br><br><br><br><br><br><br><br><br><br><br><br><br>


<h5>
  *ngElse
</h5>


<div *ngIf="mostrarCursos">
  Mostrar Lista de cursos.
</div>

<div *ngElse="mostrarCursos">
  Esconder Lista de cursos.
</div>



<br>
<button type="button" class="btn btn-primary" (click)="onMostrarCursos()">button</button>



<!--
<template [ngIf]="mostrarCursos">
  <div>lista de cursos</div>
</template>


<div template="ngif mostrarCursos">
  div>lista de cursos</div>
</div> -->


